*{

margin: 8px;
padding: 8px;
font-size: 20px;
text-align: center;
text-align: justify;

}

h1{
	color: red;
	text-align: center;
	font-size: 28px;

}


h2{
	font-size: 25px;
	color: blue;

}


